:root {
    /* Colores */
    --color-bg: #ffffff;
    --color-content: #000000;

    /* Leccion vars */
    --lesson-color: #000000;
    --lesson-blockquote: rgb(225, 198, 253);

    --lesson-li: rgb(213, 115, 255);
    --lesson-hr: rgb(213, 115, 255);
    --lesson-img: rgb(213, 115, 255);

    --lesson-strong: rgb(117 32 167);

    --lesson-card-hover: #dcbcff90;
}

body {
    /* Light mode */
    background-color: var(--color-bg);
    color: var(--color-content);

    font-family: system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-feature-settings: "kern", "liga", "clig", "calt";
    font-kerning: normal;
    font-size: 18px;
    transition: 0.4s;
}

/* Dark mode */
body.dark {

    /* Colores */
    --color-bg: #16161e;
    --color-content: #ffffff;

    /* Leccion vars */
    --lesson-strong: rgb(215, 145, 255);
    --lesson-blockquote: rgb(186, 121, 255);

    --lesson-hr: rgb(229, 168, 255);
    --lesson-li: rgb(229, 168, 255);
    --lesson-img: rgb(229, 168, 255);

    --lesson-card-hover: #da96ffd4;
}

/* Header */
.my-brand {
    color: #ffffff !important;
    font-family: "FreeMono", monospace;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -100%;
    }
}

.my-background {
    background-image: url('../assets/my-background.png');
    background-repeat: repeat-y;
    animation: animatedBackground 20s linear infinite;
}

/* Nav */
.my-nav {
    color: #ffffff;
}

.my-nav a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.my-nav a:hover {
    color: #c175ff;
}


/* Footer */

.my-footer {
    font-family: "FreeMono", monospace;
}

.my-icon {
    color: var(--color-content);
}

/* Other */
.theme-button {
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    font-size: 2rem;
    color: #ac45c9cc;
    cursor: pointer;
}

.theme-button:hover {
    color: #ac45c9;
}

.white-hr {
    border: 1px solid #ffffff;
}

.pink-hr {
    border: 1px solid rgb(213, 115, 255);
}

/* Materials */
.card-1 {
    border-radius: 10px;
    background: linear-gradient(270deg, #03a9f4, #cc39a4, #ffb5d2);
    box-shadow: inset 0px 0px 180px 5px #ffffff;
}
.full-background {
    min-height: 100vh;
    height: 100vh!important;
}