/**
 * Global CSS styles for the project.
 * 
 * This file contains the global CSS styles that are applied to the entire project.
 * It includes color variables, font styles, animation, and various component styles.
 * The styles are defined for both light and dark modes.
 * 
 * @file global.css
 */
 :root {
    /* Colores */
    --color-bg: #ffffff;
    --color-content: #000000;

    /* Leccion vars */
    --lesson-color: #000000;
    --lesson-blockquote: rgb(225, 198, 253);

    --lesson-li: rgb(213, 115, 255);
    --lesson-hr: rgb(213, 115, 255);
    --lesson-img: rgb(213, 115, 255);

    --lesson-strong: rgb(117 32 167);

    --lesson-card-hover: #dcbcff90;
}

body {
    /* Light mode */
    background-color: var(--color-bg);
    color: var(--color-content);

    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-kerning: normal;
    font-size: 18px;
    transition: 0.4s;
}

.bg-gradient-me {
    background: linear-gradient(90deg, rgba(111, 3, 244, 0.15), rgba(204, 57, 164, 0.15), rgba(255, 181, 210, 0.15));
    box-shadow: inset 0px 0px 180px 5px #ffffff;
    box-shadow: 6px 6px 10px rgba(160, 59, 255, 0.1),
        -6px -6px 12px rgba(244, 194, 255, 0.2);
}

.hr-white {
    border: 1px solid #ffffff;
}

.hr-pink {
    border: 1px solid rgb(213, 115, 255);
}

a {
    text-decoration: none!important;
}

.link-base {
    text-decoration: none;
    color: black;
}

.link-base:hover {
    color: rgb(0, 0, 0);
}