.banner-container {
    text-align: center;
    color: white;
    font-family: "FreeMono", monospace;
}

.inscribir {
    text-decoration: none;
    color: white;
    border: 2px solid white;
}

.down-arrow {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    opacity: 0.5;
}

.banner-container h1 {
    font-size: 3rem;
    margin-top: 5rem;
}

.banner-container hr {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.banner-container h3 {
    font-size: 1.5rem;
    margin-top: 2rem;    
}


/* */
.spacing {
    height: 10rem;
}

.container-intro {
    height: auto; /* Esto permitirá que el contenedor se ajuste a la altura del contenido más grande */

}

.container-intro img {
    margin-left: auto;
    margin-right: auto;
    height: 20rem; /* Esto hará que la imagen se ajuste a la altura de su contenedor */
    object-fit: cover; /* Esto mantendrá las proporciones de la imagen mientras se ajusta a la altura */
}

.container-about img {
    margin-left: auto;
    margin-right: auto;
    height: 15rem; /* Esto hará que la imagen se ajuste a la altura de su contenedor */
    object-fit: cover; /* Esto mantendrá las proporciones de la imagen mientras se ajusta a la altura */
}

.card-me h5 {
    font-weight: bold;
    text-align: center;
}

.card-me p {
    text-align: justify;
}

.purple-bg {
    background-color: #faf5ff;
}

.container-beneficios h5 {
    font-weight: bold;
    text-align: center;
}

.container-beneficios hr {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.justify {
    text-align: justify;
}

.container-temas li::marker {
    color: rgb(213, 115, 255);
}