/* Hero section */
.banner-container {
    color: white;
}

.my-badget {
    margin-top: 3.5rem;
    padding: 0.3rem 0.8rem;
    outline: none;
    text-decoration: none;

    --badget-color: rgb(165, 70, 229);
    color: var(--badget-color);
    border: 1px var(--badget-color) solid;
    background-color: rgb(165, 70, 229, 0.1);

    border-radius: 9999px;

    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px inset, rgba(79, 70, 229, 0.1) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    box-sizing: content-box;
    display: block;
    width: fit-content;
    font-size: 14px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

.my-badget:hover {
    --badget-color: rgb(165, 70, 229);
    color: var(--badget-color);
}

.banner-container h1 {
    font-weight: bolder;
    font-size: 3rem;
}

.banner-container hr {
    width: 40%;
}

.banner-container h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.banner-container p {
    width: 55%;
    text-align: justify;
}

.down-arrow {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    opacity: 0.5;
}

/* Main section */

.container-intro {
    height: auto;
}

.container-intro img {
    margin-left: auto;
    margin-right: auto;
    height: 20rem;
    /* Esto hará que la imagen se ajuste a la altura de su contenedor */
    object-fit: cover;
    /* Esto mantendrá las proporciones de la imagen mientras se ajusta a la altura */
}

.container-about img {
    height: 18rem;
    /* Esto hará que la imagen se ajuste a la altura de su contenedor */
    object-fit: cover;
    /* Esto mantendrá las proporciones de la imagen mientras se ajusta a la altura */
}

.card-me h5 {
    font-weight: bold;
}

.card-me p {
    text-align: justify;
}

.purple-bg {

    background-color: rgb(250, 245, 255);
}

/* Section beneficios */
.container-beneficios hr {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.justify {
    text-align: justify;
}

.container-temas li::marker {
    color: rgb(213, 115, 255);
}


.purple-hr {
    border: 2px solid rgb(149 119 235);
}

.inscribir {
    display: inline-block;

    border: 3px solid rgb(225, 198, 253);

    position: relative;
    background-color: transparent;
    text-decoration: none;
    color: white;

    overflow: hidden;
    z-index: 1;
}

.inscribir::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(225, 198, 253);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.inscribir:hover {
    text-decoration: none;
    color: black;
}

.inscribir:hover::before {
    transform: translateX(0);
}


body h3 {
    font-weight: bold;
}

.animation-delign::after {
    margin-right: auto;
}

.animation-delign::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(149 119 235);
    display: block;
    transition: 0.5s;
}

.animation-delign:hover::after {
    width: 100%;
}

/* star animation */
.star-animation {
    display: flex;
}

.star-animation i {
    transition: .2s linear;
}

.star-animation:hover>i {
    transform: scale(1.2);
    color: rgb(105, 44, 179);
}

.star-animation:hover::after {
    visibility: visible;
    opacity: 1;
    top: 105%;
}

/* inscribir */

.link-inscribir {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

.link-inscribir.learn-more {
    width: 17rem;
    height: auto;
}

.link-inscribir.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}

.link-inscribir.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.link-inscribir.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.link-inscribir.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.link-inscribir.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.link-inscribir:hover .circle {
    width: 100%;
}

.link-inscribir:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

.link-inscribir:hover .button-text {
    color: #fff;
}

.link-inscribir:hover {
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;

    border-radius: 1.625rem;
}

body {
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11" !important;
}

.card-important {
    background: linear-gradient(90deg, rgba(111, 3, 244, 0.2), rgba(204, 57, 164, 0.2), rgba(255, 181, 210, 0.2));
    box-shadow: inset 0px 0px 180px 5px #ffffff;
}

.box-shadown-button {
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;

    border-radius: 1.625rem;

    vertical-align: middle;
    text-decoration: none;
    background: transparent;

    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
}

/* Read more */
.cta {
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: none;
}

.cta span {
    padding-bottom: 7px;
    padding-right: 15px;
}

.cta i {
    transform: translateX(-8px);
    transition: all 0.3s ease;
    color: white;
}

.cta:hover i {
    transform: translateX(0);
}

.cta:active i {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: white;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}




.wrapper-degradado {
    background: linear-gradient(90deg, rgba(111, 3, 244, 0.1), rgba(204, 57, 164, 0.1), rgba(255, 181, 210, 0.1));
}