---

---

<main>
  <slot />
</main>

<style is:global>
	@import "../../styles/global.css";

  blockquote {
    word-wrap: break-word;
    box-sizing: border-box;
    margin-block: calc(1em + 1ex);
    margin-inline-start: 0;
    padding-inline-start: calc(1em + 1ex);
    position: relative;
    text-align: justify;
  }

  blockquote:before {
    background-color: var(--lesson-blockquote);
    border-radius: 3px;
    content: "";
    display: block;
    height: 100%;
    inset-inline-start: 0;
    position: absolute;
    width: calc(0.25em + 0.25ex);
  }

  h3 {
    text-align: center;
    margin-top: 2rem;
  }

  li::marker {
    color: var(--lesson-li);
  }

  hr {
    border: 1px solid;
    border-color: var(--lesson-hr);
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    text-align: justify;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px var(--lesson-img);

    width: 40rem;
    border-radius: 0.3rem;
  }

  strong {
    color: var(--lesson-strong);
  }

  li {
    text-align: justify;
  }
</style>
