---
const {title, index} = Astro.props;
import Insignia from "../Misc/Insignia.astro"
---


<section class="d-flex justify-content-center align-items-center gap-3 mb-5 mt-4">
    <Insignia class="mb-2" color="purple">Leccion {index}</Insignia>
    <h2>{title}</h2>
</section>