---

import Footer from "../components/Footer.astro";

import Header from "../components/Home/Header.astro";
import SectionIntro from "../components/Home/SectionIntro.astro";
import SectionAbout from "../components/Home/SectionAbout.astro";
import SectionFeatures from "../components/Home/SectionFeatures.astro";
import SectionInscribir from "../components/Home/SectionInscribir.astro";

---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Esencia de la Geometría Vectorial</title>

    <!-- Boostrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="src/styles/global.css">
    <link rel="stylesheet" href="src/styles/lesson.css">
    <link rel="stylesheet" href="src/styles/homepage.css">

    <link rel="shortcut icon" href="src/assets/my-background.png" type="image/png" />
</head>

<header class="my-background">
    <Header />
</header>

<body>
        <!-- Introduccion -->
        <SectionIntro />

        <!-- Acerca del curso -->
        <SectionAbout />

        <!-- Beneficios -->
        <SectionFeatures />

        <!-- Inscribir -->
        <SectionInscribir />

    <Footer />
    
</body>
</html>


<style is:global>
    @import "../styles/global.css";
    
    body h3 {
        font-weight: bold;
    }

    .hover-underline-animation {
        position: relative;
        color: white;
        padding-bottom: 20px;
    }

    .hover-underline-animation:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    /* Other */
    .justify {
        text-align: justify;
    }

    /* UI elements */
    .purple-bg {
        background-color: rgb(250, 245, 255);
    }


    .font-weight-350 {
        font-weight: 350;
        font-size: 1.16rem;
    }

    @keyframes animatedBackground {
        from {
            background-position: 0 0;
        }
        to {
            background-position: 0 -100%;
        }
    }

    .my-background {
        background-image: url('../assets/my-background.png');
        background-repeat: repeat-y;
        animation: animatedBackground 20s linear infinite;
    }
</style>