---
import CheemsImg from '../../../public/assets/cheems-meme.jpg'
---

<section id="info" class="py-5 my-4">
    <div class="container">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col">
                <h1>
                    Hola!<br>
                    soy Juan Carlos Largo
                </h1>
    
                <img src={CheemsImg.src}>
            </div>
    
            <div class="col">
                <blockquote>
                    <p class="justify font-weight-350">
                        <i class="bi bi-quote"></i>
                        Creé estas lecciones con el objetivo de
                        explicar
                        de una manera más visual y sencilla conceptos fundamentales de geometría vectorial. Mi
                        enfoque se
                        centra
                        en comprender el "porqué" detrás de los conceptos en lugar de simplemente computar o
                        calcular.
                    </p>
                    <p class="justify font-weight-350">
                        En particular, pienso que abordar la geometría vectorial desde una perspectiva visual
                        facilita la
                        comprensión de los temas y, sobre todo, ayuda a aplicarlos de manera efectiva para
                        resolver
                        problemas.
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</section>

<style>
    section {
        height: auto;
    }

    img {
        margin-left: auto;
        margin-right: auto;
        height: 20rem;
        object-fit: cover;
    }
</style>